* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;

  }

html {
font-size: 62.5%;
overflow-x: hidden;
scroll-behavior: smooth;
}

body {
background: #f7f7f7;
font-family: "Poppins", sans-serif;
}

/* text selection */

*::selection {
background: #2b3dda;
color: #fff;
}

/* scrollbar */

html::-webkit-scrollbar {
width: 0.8rem;
}

html::-webkit-scrollbar-track {
background: rgb(235, 202, 245);
}

html::-webkit-scrollbar-thumb {
background: #420177;
}

/* sections */

section {
padding: 2rem 9%;
}

/* headings */

.heading {
font-size: 3.5rem;
color: rgb(32, 32, 32);
font-weight: 800;
text-align: center;
}

.heading span {
color: rgb(115, 3, 167);
}

/* scroll top button */

#scroll-top {
position: fixed;
top: -140%;
right: 2rem;
padding: 1rem 1.5rem;
font-size: 2rem;
background: #ffae00;
color: rgb(13, 0, 44);
border-radius: 50%;
transition: top 0.5s ease;
z-index: 1000;
}

#scroll-top.active {
top: calc(100% - 12rem);
}

/* responsive */

@media (max-width: 450px) {

html {
font-size: 55%;
}

body {
padding-right: 0;
}

section {
padding: 2rem;
}

}
